<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<table style="background-color:#f8f8f8" bgcolor="#F8F8F8" width="100%" align="center" cellspacing="0" cellpadding="0"><tbody><tr><td>
<br>
<table style="font-family:arial,helvetica,sans-serif;font-size:14px;line-height:20px;background-color:#ffffff;border-top:1px solid #e8e8e8;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8" align="center" bgcolor="#ffffff" cellspacing="0" cellpadding="0" width="600">

<tbody><tr><td width="30"><img style="display:block" src="http://na-sj01.marketo.com/rs/amazonwebservices/images/awscloudtour_spacer.gif" border="0" alt="" width="30" height="1"></td>

<td style="font-family:arial,helvetica,sans-serif;font-size:14px;line-height:20px">
<br>
<a href="http://www.yelouluz.com/" target="_blank"><img src="http://www.yelouluz.com/sites/default/files/LOGO_YELOU_LUZ_140_43.jpg" alt="Yelou!luz"></a>
<br><br>
Estimado cliente,
<br><br>
Te damos la  bienvenida a Yelou!luz,  el primer proveedor de luz que te permite contratar energía 100% renovable del productor solar que tu elijas.
<br><br>Los datos de tu contrato son los siguientes:
<br>email: <%= @contrato.cliente_email%>
<br>Nombre: <%= @contrato.cliente_nombre%>  
<br>Apellidos: <%= @contrato.cliente_apellido1%> <%= @contrato.cliente_apellido2%>


<br><br>Como cliente de Yelou!luz  tendrás las siguientes ventajas:
<ul>
<li>Te aseguramos que la luz que contratas es 100% renovable, garantizada.</li>
<li>Podrás elegir la planta solar que tu quieras.</li>
<li>Tendrás una cuota fija mensual basada en tu consumo previo y una regularización anual adaptada a tu consumo real. </li>
<li>En breve recibirás un mail con acceso a tu primera factura de Cuota Yelou, que te permitirá controlar mejor tus gastos, ya que serán equilibrados, sin picos. 
<li>En la oficina online tendrás a tu disposición tus facturas  y contratos 24horas al día, 365 días al año.</li>
<li>Podrás contactar con nosotros a través del mail cercadeti@yelouluz.com o el teléfono 902 023 024 o al 900 818 533</li>
<li>Te ayudaremos a mejorar la eficiencia energética de tu hogar </li>
</ul>

<br><br>Haremos todo lo que esté en nuestras manos para que estés satisfecho con tu decisión de unirte a Yelou!luz, pero si no lo conseguimos puedes darte de baja cuando quieras, ya que no tienes compromiso de permanencia.

<br><br>Con este gesto reducirás la emisión CO2 a la atmósfera cada año, el equivalente a plantar  muchos árboles.

<br><br>Si quieres compartir esta decisión en tus redes sociales.

<br><br>Si tienes alguna pregunta o sugerencia no dudes en escribirnos a cercadeti@yelouluz.com o llamarnos al 902 023 024 o al 900 818 533.

<p>
Para más información visita <a href="http://conectados-al-sol.yelouluz.com/" target="_blank">Área de Clientes de Yelou!luz</a>.
<br><br>

 <br>El equipo de Yelou!luz <br> <br>
</p>

</td><td width="30"><img style="display:block" src="http://na-sj01.marketo.com/rs/amazonwebservices/images/awscloudtour_spacer.gif" border="0" alt="" width="30" height="1"></td></tr>


<tr><td width="30"><img style="display:block" src="http://na-sj01.marketo.com/rs/amazonwebservices/images/awscloudtour_spacer.gif" border="0" alt="" width="30" height="1"></td>

<td align="right"><br><hr width="100%" color="#E8E8E8" size="1"></td>

<td width="30"><img style="display:block" src="http://na-sj01.marketo.com/rs/amazonwebservices/images/awscloudtour_spacer.gif" border="0" alt="" width="30" height="1"></td></tr>


<tr><td width="30"><img style="display:block" src="http://na-sj01.marketo.com/rs/amazonwebservices/images/awscloudtour_spacer.gif" border="0" alt="" width="30" height="1"></td>

<td align="left"><p style="font-size:9px;color:#999;line-height:12px;margin-top:0px;text-align:left;font-family:Arial,Helvetica,sans-serif" align="left">
    Condiciones legales.<br>
                    <br>Yelou!luz....</p><br></td>

<td width="30"><img style="display:block" src="http://na-sj01.marketo.com/rs/amazonwebservices/images/awscloudtour_spacer.gif" border="0" alt="" width="30" height="1"></td></tr>


</tbody></table>
<br>&nbsp; </td></tr>
</tbody></table>


  </body>
</html>

