
<%=render :partial => "partials/estadocontratos"%>

          <div class="row">
			<div class="span6">
				<div class="well">
				<h3> Evolución de tus facturas </h3>
				<img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png" title="">
				<p> This is something. </p>
				</div>
			</div>


			<div class="span6">
				<div class="well">
				<h3> CO2 no emitido </h3>
				<img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png" title="">
				<p> This is something. </p>
				</div>
                        
			</div>




			<div class="span12">
				<div class="well">
				<h3> Comparte Yelou!luz </h3>
				
				<p> This is something. </p>
				</div>
                        
			</div>
          </div>

      <hr>


