<div class="page-header">
  <%= link_to planta_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <h1>Nueva planta en <%= @plantum.huerto.agrupacion %></h1>
</div>

<%= render 'form' %>
