<div class="hero-unit">
<h1>Bienvenido al mundo Yelou</h1>
<p>
Antes de continuar debes acceder con tu usuario y contraseña o registrarte como usuario de Yelou!	</p>
<br>
<%= link_to '/users/sign_in', :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    Acceder
<% end %> &nbsp;
<%= link_to '/users/sign_up', :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    Registrarme
<% end %>
</div>
<div class="row">
<div class="span4">En Yelou no utilizamos papel: contratación, facturación, y todos los procesos son a través de internet.</div>
<div class="span4">El proceso de contratación lo puedes hacer todo seguido o en varias fases, por lo que tus datos siempre se guardarán, así como tus documentos para que puedas retomar el proceso en cualquier momento	</div>
<div class="span4">Para ofrecerte el mejor servicio de atención al cliente podrás contactar con nosotros por teléfono y a través de tu cuenta de cliente.	</div>

		  <hr>
          <footer>
          	<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
          </footer>
</div>


