<div class="hero-unit">
<h1>Tenemos un problema!!</h1>
<p>
La aplicación ha generado un error y no podemos continuar!
<br>hemos sido notificados del problema y lo solucionaremos en breve	</p>
<br>

</div>
<div class="row">
<div class="span4">En Yelou no utilizamos papel: contratación, facturación, y todos los procesos son a través de internet.</div>
<div class="span4">El proceso de contratación lo puedes hacer todo seguido o en varias fases, por lo que tus datos siempre se guardarán, así como tus documentos para que puedas retomar el proceso en cualquier momento	</div>
<div class="span4">Para ofrecerte el mejor servicio de atención al cliente podrás contactar con nosotros por teléfono y a través de tu cuenta de cliente.	</div>

		  <hr>
          <footer>
          	<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
          </footer>
</div>


