
     <div class="hero-unit">	
        <h1>
          Bienvenido al mundo Yelou!
        </h1>     	
			<p>En menos de 5 minutos podrás formar parte de yelou	</p>
			<%= link_to 'Continuar >>', '/contratos_steps/documentosnecesarios', class:"btn-primary btn" %>

		</div>


      <div class="row">
        <div class="span4">
          <h2>
            Sin papel
          </h2>
          <p>
            En Yelou no utilizamos papel, contratación, facturación y todos los procesos son electrónicos y por internet.
          </p>
        </div>
        <div class="span4">
          <h2>
            Contratación
          </h2>
          <p>
            El proceso de contratación lo puedes realizar todo seguido o en varias fases, ya que tus datos se guardarán, así como tus documentos para que puedas retomar el proceso en cualquier momento&nbsp;
          </p>
        </div>
        <div class="span4">
          <h2>
            Contacto
          </h2>
          <p>
            Para ofrecerte el mejor servicio de atención al cliente, podrás contactar con nosotros por teléfono y a través de tu cuenta de cliente .
          </p>
        </div>
      </div>
      <hr>
      <footer>

      </footer>






