
<p><h2 class="titulo">Extracción de datos</h2></p>

<p>De los documentos que nos has proporconado, hemos obtenido los siguientes datos</p>

<%= link_to '<< Anterior',  previous_wizard_path, class:"btn-primary btn" %> <%= link_to 'Siguiente paso >>', next_wizard_path, class:"btn-primary btn" %>

