        <h3 class="titulo">
          Documentos necesarios
        </h3>
      <div class="hero-unit">
        <p>
          <h4>Necesitas tener a mano, y mejor si los tienes escaneados, los siguientes documentos:</h4>
        </p>
        <p>
        <li>DNI o NIE</li>
        <li>Tu última factura de la Luz</li>
        <li>Los datos de tu cuenta corriente para domiciliar los pagos</li>
        </p>
      </div>
		<p><%= link_to '<< Anterior',  previous_wizard_path, class:"btn-primary btn" %> <%= link_to 'Siguiente >>', next_wizard_path, class:"btn-primary btn" %></p>
              
      <!-- Main hero unit for a primary marketing message or call to action
      -->
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>
            Sin papel
          </h2>
          <p>
            En Yelou no utilizamos papel, contratación, facturación y todos los procesos son electrónicos y por internet.
          </p>
        </div>
        <div class="span4">
          <h2>
            Contratación
          </h2>
          <p>
            El proceso de contratación lo puedes realizar todo seguido o en varias fases, ya que tus datos se guardarán, así como tus documentos para que puedas retomar el proceso en cualquier momento&nbsp;
          </p>
        </div>
        <div class="span4">
          <h2>
            Contacto
          </h2>
          <p>
            Para ofrecerte el mejor servicio de atención al cliente, podrás contactar con nosotros por teléfono y a través de tu cuenta de cliente .
          </p>
        </div>
      </div>
      <hr>
      <footer>

      </footer>

