<div class="hero-unit">
<h1>Gracias por compartir nuestra luz</h1>
<p>
Ya eres parte de Yelou!luz	</p>

</div>

<div class="row">
<div class="span4">En Yelou no utilizamos papel: contratación, facturación, y todos los procesos son a través de internet.</div>
<div class="span4">El proceso de contratación lo puedes hacer todo seguido o en varias fases, por lo que tus datos siempre se guardarán, así como tus documentos para que puedas retomar el proceso en cualquier momento	</div>
<div class="span4">Para ofrecerte el mejor servicio de atención al cliente podrás contactar con nosotros por teléfono y a través de tu cuenta de cliente.	</div>
</div>



