
<p><h2 class="titulo">Primera Ocupación</h2></p>

<%= link_to '<< Anterior', previous_wizard_path, class:"btn-primary btn"  %> <%= link_to 'Siguiente paso >>', next_wizard_path,  class:"btn-primary btn" %>
