<p><h2 class="titulo">Procesando Documentos</h2></p>
<p>Estamos analizando los documentos que nos has proporcionado, ten paciencia no tardaremos mas de un minuto...</p>


<%= link_to '<< Anterior',  previous_wizard_path, class:"btn-primary btn" %> <%= link_to 'Siguiente paso >>', next_wizard_path, class:"btn-primary btn" %>
