<p>Hola <%= @resource.email %>!</p>

<p> Alguien ha pedido un cambio de contraseña en Yelou!luz para ti. Puedes realizar el cambio pulsando en el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña',  "http://conectados-al-sol.yelouluz.com/users/password/edit?reset_password_token=#{@token}" %></p>

<p>Si tu no pediste este cambio, entonces ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que tu no pulses el enlace y crees una nueva contraseña.</p>

